{% extends "enrolment/layout.html" %}
{% load static %}

{% block body %}

    <div style="padding: 40px;">
        <h3>Academic Requirements</h3>
        You must meet complete all requirements listed below!

        <h4 style="margin-top: 30px;">Core Classes </h4>
        You must complete all compulsory courses listed below, and therefore you must also enrol in all courses in this list. All enrolled classes will appear in your '<a href="{% url 'moodle' %}">Moodle</a>' page.
        <ul style="margin-top: 20px;" class="list-group list-group-flush">
            {% for subject in subjects %}
                {% if subject.core %}
                    {% if request.user in subject.students.all %}
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="width: 50%;">
                            {{subject.name}} 
                            <span class="badge badge-success badge-pill">Enrolled</span>
                        </li>
                    {% else %}
                    <li class="list-group-item d-flex justify-content-between align-items-center" style="width: 50%;">
                        {{subject.name}} 
                        <span class="badge badge-primary badge-pill">Enrol</span>
                    </li>
                    {% endif %}
                {% endif%}
            {% endfor %}
        </ul>

        <h4 style="margin-top: 30px;">Elective Classes </h4>
        You must also complete at least two elective classes from the list below. Enrolled elective classes will appear in your '<a href="{% url 'moodle' %}">Moodle</a>' page.
        <ul style="margin-top: 20px;" class="list-group list-group-flush">
            {% for subject in subjects %}
                {% if subject.core == False %}
                    {% if request.user in subject.students.all %}
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="width: 50%;">
                            {{subject.name}}
                            <span class="badge badge-success badge-pill">Enrolled</span>
                        </li>
                    {% else %}
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="width: 50%;">
                            {{subject.name}} 
                            <span class="badge badge-primary badge-pill">Enrol</span>
                        </li>
                    {% endif %}
                {% endif%}
            {% endfor %}
        </ul>
    </div>
    
    



{% endblock%}


{% block script %}
    <script src="{% static 'enrolment/index.js' %}"></script>
{% endblock %}