{% extends "enrolment/layout.html" %}

{% block body %}

<h2 style="margin-left: 20px; margin-right: 20px;">Login</h2>

{% if message %}
    <div style="color: red; margin-left: 20px; margin-right: 20px;">{{ message }}</div>
{% endif %}

<form action="{% url 'login' %}" method="post" style="margin-left: 20px; margin-right: 20px;">
    {% csrf_token %}
    <div class="form-group">
        <input autofocus class="form-control" type="text" name="username" placeholder="Username">
    </div>
    <div class="form-group">
        <input class="form-control" type="password" name="password" placeholder="Password">
    </div>
    <input class="btn btn-primary" type="submit" value="Login">
</form>

<div style="margin-left: 20px; margin-right: 20px;">
    Don't have an account? <a href="{% url 'register' %}">Register here.</a>
</div>

{% endblock %}